html {
  background: #cad4d8;
}

p, nav, ul {
	color: navy;
}
.comment {
  color: darkgreen;
  padding-top: 10px;
}

body {
  font-family: 'HelveticaNeue';
  font-size: 1.1em;
}

h1, h2, h3 {
	font-family: 'Z003';
}

@media screen and (max-width: 900px) {
  div #wrapper {
    width: 100%;
  }
}

#wrapper {
  background: linear-gradient(to bottom, #CCFFCC 0%, #6699FF 100%) ;
  background-attachment: fixed, fixed, fixed, scroll;
  background-size: cover;
  box-shadow: 0em  0.3em 1em #000;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: auto;
  width: 100%;
  max-width: 1180px;
  padding: 10px; 
  overflow: auto;
}

header {
  grid-template-columns: 2fr;
  padding: 5% 5% 0% 5%;
}

.photo_id {
  grid-template-columns: 1fr;
  border: 3px gray outset; 
  margin: 10% 0 10% 25%;
  border-radius: 1em;
}
img {
  max-width: 100%;
  height: auto;
}

.element1 {
  grid-row: 2;
  justify-content: center;
  flex-wrap: wrap;
  /*vertical-align: auto;*/
  max-width: 670px;
}

.element2 {
  grid-row: 2;
  justify-content: left;
  flex-wrap: wrap;
  /*vertical-align: auto;*/
  max-width: 380px;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 20px;
} 

h1 {
  justify-content: left;
  text-align: center;
	font-size: 3em;
	color: #125F84; text-shadow: rgb(9, 82, 85) 0.1em 0em 0.15em
}

h2 {
  justify-content: left;
  text-align: center;
	font-size: 2em;
	color: #125F84; text-shadow: rgb(9, 82, 85) 0.1em 0em 0.15em
}

h3 {
  text-align: center;
	font-size: 2em;
	color: white; text-shadow: black 0.1em 0.1em 0.2em
	/* color: #014869; */ 
}

h3.aside {
  text-align: left;
}

a:hover {
	text-decoration: underline;
	color: green;
}